# demographic detail for each station area

In [1]:
import pandas as pd

# for spatial data
import geopandas as gpd

# for plotting
import matplotlib.pyplot as plt
# for basemaps
import contextily as ctx

import folium
from folium.plugins import MarkerCluster
import pandas as pd

import plotly.express as px

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
stationarea=gpd.read_file("stationarea.geojson")
station=gpd.read_file("stations.geojson")
ethdf=gpd.read_file(
index=gpd.read_file("iqv_average.csv")
stationarea['lon']=station.geometry.x
stationarea['lat']=station.geometry.y
tod=stationarea[stationarea['TOD']=='Yes']
ntod=stationarea[stationarea['TOD']=='No']
station=gpd.read_file('stations.geojson')
tod2=station[stationarea['TOD']=='Yes']
ntod2=station[stationarea['TOD']=='No']

SyntaxError: invalid syntax (27034682.py, line 5)

In [3]:
ethdf.info()

NameError: name 'ethdf' is not defined

In [4]:
df2=gpd.overlay(tod,ethdf, how='intersection')

In [5]:
df2.to_csv(r'df2.csv')

In [20]:
tod

,Station,City,Code,TOD,County,Marker,buffer_polygon,geometry,lon,lat
0,ASHBY,Berkeley,BKY,Yes,ALA,D,"POLYGON ((563770.9742351742 4188779.586837385,...","POLYGON ((-122.27519 37.84423, -122.27886 37.8...",-122.270119,37.853207
1,MACARTHUR,Oakland,OAK,Yes,ALA,D,"POLYGON ((563693.8852295046 4186061.965723997,...","POLYGON ((-122.27631 37.81974, -122.27785 37.8...",-122.267120,37.828705
2,HAYWARD,Hayward,HAY,Yes,ALA,D,"POLYGON ((580092.9554610827 4168606.360613972,...","POLYGON ((-122.09192 37.66114, -122.09221 37.6...",-122.087204,37.670124
3,SOUTH HAYWARD,Hayward,HAY,Yes,ALA,D,"POLYGON ((582418.4676641112 4164677.51896479, ...","POLYGON ((-122.06600 37.62552, -122.06785 37.6...",-122.057037,37.634483
4,FRUITVALE,Oakland,OAK,Yes,ALA,D,"POLYGON ((567336.267085615 4180096.87365391, 5...","POLYGON ((-122.23548 37.76572, -122.23554 37.7...",-122.224197,37.774559

In [ ]:
ASHBY2=df2[df2['Station']=='ASHBY']
MACARTHUR2=df2[df2['Station']=='MACARTHUR']
HAYWARD2=df2[df2['Station']=='HAYWARD']
SOUTHH2=df2[df2['Station']=='SOUTH HAYWARD']
FRUITVALE2=df2[df2['Station']=='FRUITVALE']

In [ ]:
df3=df2[['Station',
 'Total_2019',
 'Non Hispanic_2019',
 'Non Hispanic White_2019',
 'Non Hispanic Black_2019',
 'Non Hispanic American Indian and Alaska Native_2019',
 'Non Hispanic Asian_2019',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2019',
 'Non Hispanic Some other race_2019',
 'Non Hispanic Two or more races_2019',
 'Hispanic_2019',
 'Total_2013',
 'Non Hispanic_2013',
 'Non Hispanic White_2013',
 'Non Hispanic Black_2013',
 'Non Hispanic American Indian and Alaska Native_2013',
 'Non Hispanic Asian_2013',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2013',
 'Non Hispanic Some other race_2013',
 'Non Hispanic Two or more races_2013',
 'Hispanic_2013']]

In [68]:
st=station['Station'].to_list()

In [70]:
cool=[]
for s in st:
    dfy=[]
    for i in df3.iterrows():
        fy=df3[df3['Station']==x].sum(axis=0).to_frame()

AttributeError: 'list' object attribute 'append' is read-only