# Group Assignment #3: A Clean Notebook

## Compilation of Work

Work to download and clean data for blockgroups.

In [1]:
# for general data wrangling tasks
import pandas as pd

# to read and visualize spatial data
import geopandas as gpd

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

## 2019 block group data for alameda county

In [2]:
b2019 = gpd.read_file("acs2019_5yr_B03002_15000US060014094001.geojson")

In [3]:
b2019.head()

,geoid,name,B03002001,"B03002001, Error",B03002002,"B03002002, Error",B03002003,"B03002003, Error",B03002004,"B03002004, Error",...,"B03002017, Error",B03002018,"B03002018, Error",B03002019,"B03002019, Error",B03002020,"B03002020, Error",B03002021,"B03002021, Error",geometry
0,05000US06001,"Alameda County, CA",1656754.0,0.0,1285735.0,0.0,520447.0,487.0,171168.0,1541.0,...,181.0,173837.0,4242.0,32773.0,1822.0,16655.0,1275.0,16118.0,1291.0,"MULTIPOLYGON (((-122.28088 37.70723, -122.2817..."
1,15000US060014001001,"Block Group 1, Alameda, CA",3120.0,208.0,3002.0,191.0,2317.0,235.0,107.0,68.0,...,12.0,34.0,33.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
2,15000US060014002001,"Block Group 1, Alameda, CA",990.0,138.0,894.0,129.0,761.0,129.0,13.0,13.0,...,12.0,5.0,7.0,23.0,25.0,0.0,12.0,23.0,25.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
3,15000US060014002002,"Block Group 2, Alameda, CA",1017.0,123.0,939.0,129.0,714.0,116.0,39.0,46.0,...,12.0,12.0,14.0,32.0,34.0,14.0,25.0,18.0,25.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
4,15000US060014003001,"Block Group 1, Alameda, CA",1134.0,238.0,1059.0,241.0,735.0,215.0,0.0,12.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."

In [4]:
b2019=b2019.drop([0])

In [5]:
b2019.head()

,geoid,name,B03002001,"B03002001, Error",B03002002,"B03002002, Error",B03002003,"B03002003, Error",B03002004,"B03002004, Error",...,"B03002017, Error",B03002018,"B03002018, Error",B03002019,"B03002019, Error",B03002020,"B03002020, Error",B03002021,"B03002021, Error",geometry
1,15000US060014001001,"Block Group 1, Alameda, CA",3120.0,208.0,3002.0,191.0,2317.0,235.0,107.0,68.0,...,12.0,34.0,33.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
2,15000US060014002001,"Block Group 1, Alameda, CA",990.0,138.0,894.0,129.0,761.0,129.0,13.0,13.0,...,12.0,5.0,7.0,23.0,25.0,0.0,12.0,23.0,25.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
3,15000US060014002002,"Block Group 2, Alameda, CA",1017.0,123.0,939.0,129.0,714.0,116.0,39.0,46.0,...,12.0,12.0,14.0,32.0,34.0,14.0,25.0,18.0,25.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
4,15000US060014003001,"Block Group 1, Alameda, CA",1134.0,238.0,1059.0,241.0,735.0,215.0,0.0,12.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."
5,15000US060014003002,"Block Group 2, Alameda, CA",1237.0,263.0,1139.0,255.0,1008.0,248.0,18.0,27.0,...,12.0,37.0,60.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.26230 37.83786, -122.2622..."

In [6]:
b2019=b2019.reset_index()

In [7]:
b2019.head()

,index,geoid,name,B03002001,"B03002001, Error",B03002002,"B03002002, Error",B03002003,"B03002003, Error",B03002004,...,"B03002017, Error",B03002018,"B03002018, Error",B03002019,"B03002019, Error",B03002020,"B03002020, Error",B03002021,"B03002021, Error",geometry
0,1,15000US060014001001,"Block Group 1, Alameda, CA",3120.0,208.0,3002.0,191.0,2317.0,235.0,107.0,...,12.0,34.0,33.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
1,2,15000US060014002001,"Block Group 1, Alameda, CA",990.0,138.0,894.0,129.0,761.0,129.0,13.0,...,12.0,5.0,7.0,23.0,25.0,0.0,12.0,23.0,25.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
2,3,15000US060014002002,"Block Group 2, Alameda, CA",1017.0,123.0,939.0,129.0,714.0,116.0,39.0,...,12.0,12.0,14.0,32.0,34.0,14.0,25.0,18.0,25.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
3,4,15000US060014003001,"Block Group 1, Alameda, CA",1134.0,238.0,1059.0,241.0,735.0,215.0,0.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."
4,5,15000US060014003002,"Block Group 2, Alameda, CA",1237.0,263.0,1139.0,255.0,1008.0,248.0,18.0,...,12.0,37.0,60.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-122.26230 37.83786, -122.2622..."

In [8]:
list(b2019)

['index',
 'geoid',
 'name',
 'B03002001',
 'B03002001, Error',
 'B03002002',
 'B03002002, Error',
 'B03002003',
 'B03002003, Error',
 'B03002004',
 'B03002004, Error',
 'B03002005',
 'B03002005, Error',
 'B03002006',
 'B03002006, Error',
 'B03002007',
 'B03002007, Error',
 'B03002008',
 'B03002008, Error',
 'B03002009',
 'B03002009, Error',
 'B03002010',
 'B03002010, Error',
 'B03002011',
 'B03002011, Error',
 'B03002012',
 'B03002012, Error',
 'B03002013',
 'B03002013, Error',
 'B03002014',
 'B03002014, Error',
 'B03002015',
 'B03002015, Error',
 'B03002016',
 'B03002016, Error',
 'B03002017',
 'B03002017, Error',
 'B03002018',
 'B03002018, Error',
 'B03002019',
 'B03002019, Error',
 'B03002020',
 'B03002020, Error',
 'B03002021',
 'B03002021, Error',
 'geometry']

In [9]:
columns_to_keep = ['geoid',
                   'name',
                   'B03002001',
                   'B03002002',
                   'B03002003',
                   'B03002004',
                   'B03002005',
                   'B03002006',
                   'B03002007',
                   'B03002008',
                   'B03002009',
                   'B03002012',
                   'geometry']

In [10]:
block2019=b2019[columns_to_keep]

In [11]:
block2019.head()

,geoid,name,B03002001,B03002002,B03002003,B03002004,B03002005,B03002006,B03002007,B03002008,B03002009,B03002012,geometry
0,15000US060014001001,"Block Group 1, Alameda, CA",3120.0,3002.0,2317.0,107.0,0.0,391.0,0.0,0.0,187.0,118.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
1,15000US060014002001,"Block Group 1, Alameda, CA",990.0,894.0,761.0,13.0,4.0,41.0,0.0,0.0,75.0,96.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
2,15000US060014002002,"Block Group 2, Alameda, CA",1017.0,939.0,714.0,39.0,0.0,130.0,0.0,0.0,56.0,78.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
3,15000US060014003001,"Block Group 1, Alameda, CA",1134.0,1059.0,735.0,0.0,0.0,274.0,0.0,0.0,50.0,75.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."
4,15000US060014003002,"Block Group 2, Alameda, CA",1237.0,1139.0,1008.0,18.0,0.0,113.0,0.0,0.0,0.0,98.0,"MULTIPOLYGON (((-122.26230 37.83786, -122.2622..."

In [12]:
block2019['geoid'] = block2019['geoid'].str.replace('15000US','')
block2019.head()

/opt/conda/lib/python3.9/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

,geoid,name,B03002001,B03002002,B03002003,B03002004,B03002005,B03002006,B03002007,B03002008,B03002009,B03002012,geometry
0,060014001001,"Block Group 1, Alameda, CA",3120.0,3002.0,2317.0,107.0,0.0,391.0,0.0,0.0,187.0,118.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
1,060014002001,"Block Group 1, Alameda, CA",990.0,894.0,761.0,13.0,4.0,41.0,0.0,0.0,75.0,96.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
2,060014002002,"Block Group 2, Alameda, CA",1017.0,939.0,714.0,39.0,0.0,130.0,0.0,0.0,56.0,78.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
3,060014003001,"Block Group 1, Alameda, CA",1134.0,1059.0,735.0,0.0,0.0,274.0,0.0,0.0,50.0,75.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."
4,060014003002,"Block Group 2, Alameda, CA",1237.0,1139.0,1008.0,18.0,0.0,113.0,0.0,0.0,0.0,98.0,"MULTIPOLYGON (((-122.26230 37.83786, -122.2622..."

In [13]:
block2019.columns = ['GEOID',
 'NAME',
 'Total',
 'Non Hispanic',
 'Non Hispanic White',
 'Non Hispanic Black',
 'Non Hispanic American Indian and Alaska Native',
 'Non Hispanic Asian',
 'Non Hispanic Native Hawaiian and Other Pacific Islander',
 'Non Hispanic Some other race',
 'Non Hispanic Two or more races',
 'Hispanic',
 'geometry']

In [14]:
block2019.head()

,GEOID,NAME,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,geometry
0,060014001001,"Block Group 1, Alameda, CA",3120.0,3002.0,2317.0,107.0,0.0,391.0,0.0,0.0,187.0,118.0,"MULTIPOLYGON (((-122.24692 37.88544, -122.2466..."
1,060014002001,"Block Group 1, Alameda, CA",990.0,894.0,761.0,13.0,4.0,41.0,0.0,0.0,75.0,96.0,"MULTIPOLYGON (((-122.25508 37.84607, -122.2542..."
2,060014002002,"Block Group 2, Alameda, CA",1017.0,939.0,714.0,39.0,0.0,130.0,0.0,0.0,56.0,78.0,"MULTIPOLYGON (((-122.25792 37.84261, -122.2577..."
3,060014003001,"Block Group 1, Alameda, CA",1134.0,1059.0,735.0,0.0,0.0,274.0,0.0,0.0,50.0,75.0,"MULTIPOLYGON (((-122.25186 37.84475, -122.2517..."
4,060014003002,"Block Group 2, Alameda, CA",1237.0,1139.0,1008.0,18.0,0.0,113.0,0.0,0.0,0.0,98.0,"MULTIPOLYGON (((-122.26230 37.83786, -122.2622..."

## 2013 block group data for alameda county

In [15]:
b2013 = gpd.read_file("ACSDT5Y2013.B03002_data_with_overlays_2022-02-21T160847.csv")

In [16]:
b2013.head()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,GEO_ID,NAME,geometry
0,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Not Hispanic or Latino,Margin of Error!!Total!!Not Hispanic or Latino,Estimate!!Total!!Not Hispanic or Latino!!White...,Margin of Error!!Total!!Not Hispanic or Latino...,Estimate!!Total!!Not Hispanic or Latino!!Black...,Margin of Error!!Total!!Not Hispanic or Latino...,Estimate!!Total!!Not Hispanic or Latino!!Ameri...,Margin of Error!!Total!!Not Hispanic or Latino...,...,Margin of Error!!Total!!Hispanic or Latino!!So...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,id,Geographic Area Name,None
1,3353,332,3101,293,2141,192,165,90,0,12,...,88,37,34,15,18,22,27,1500000US060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",None
2,1031,151,870,116,727,103,0,12,0,12,...,14,72,101,72,101,0,12,1500000US060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",None
3,913,147,860,144,640,135,40,44,0,12,...,12,6,9,0,12,6,9,1500000US060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",None
4,1447,654,1392,651,891,225,128,131,0,12,...,60,0,12,0,12,0,12,1500000US060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",None

In [17]:
b2013.tail()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,GEO_ID,NAME,geometry
1043,947,327,675,282,575,221,0,12,15,25,...,12,0,12,0,12,0,12,1500000US060014517043,"Block Group 3, Census Tract 4517.04, Alameda C...",None
1044,43,19,43,19,43,19,0,12,0,12,...,12,0,12,0,12,0,12,1500000US060019819001,"Block Group 1, Census Tract 9819, Alameda Coun...",None
1045,105,48,55,21,44,24,0,12,0,12,...,49,8,11,0,12,8,11,1500000US060019820001,"Block Group 1, Census Tract 9820, Alameda Coun...",None
1046,416,70,387,67,197,54,69,36,0,12,...,12,0,12,0,12,0,12,1500000US060019832001,"Block Group 1, Census Tract 9832, Alameda Coun...",None
1047,0,12,0,12,0,12,0,12,0,12,...,12,0,12,0,12,0,12,1500000US060019900000,"Block Group 0, Census Tract 9900, Alameda Coun...",None

In [18]:
b2013=b2013.drop([1047])

In [19]:
b2013.tail()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,GEO_ID,NAME,geometry
1042,1740,308,1458,276,1379,271,0,12,0,12,...,49,30,51,30,51,0,12,1500000US060014517042,"Block Group 2, Census Tract 4517.04, Alameda C...",None
1043,947,327,675,282,575,221,0,12,15,25,...,12,0,12,0,12,0,12,1500000US060014517043,"Block Group 3, Census Tract 4517.04, Alameda C...",None
1044,43,19,43,19,43,19,0,12,0,12,...,12,0,12,0,12,0,12,1500000US060019819001,"Block Group 1, Census Tract 9819, Alameda Coun...",None
1045,105,48,55,21,44,24,0,12,0,12,...,49,8,11,0,12,8,11,1500000US060019820001,"Block Group 1, Census Tract 9820, Alameda Coun...",None
1046,416,70,387,67,197,54,69,36,0,12,...,12,0,12,0,12,0,12,1500000US060019832001,"Block Group 1, Census Tract 9832, Alameda Coun...",None

In [20]:
list(b2013)

['B03002_001E',
 'B03002_001M',
 'B03002_002E',
 'B03002_002M',
 'B03002_003E',
 'B03002_003M',
 'B03002_004E',
 'B03002_004M',
 'B03002_005E',
 'B03002_005M',
 'B03002_006E',
 'B03002_006M',
 'B03002_007E',
 'B03002_007M',
 'B03002_008E',
 'B03002_008M',
 'B03002_009E',
 'B03002_009M',
 'B03002_010E',
 'B03002_010M',
 'B03002_011E',
 'B03002_011M',
 'B03002_012E',
 'B03002_012M',
 'B03002_013E',
 'B03002_013M',
 'B03002_014E',
 'B03002_014M',
 'B03002_015E',
 'B03002_015M',
 'B03002_016E',
 'B03002_016M',
 'B03002_017E',
 'B03002_017M',
 'B03002_018E',
 'B03002_018M',
 'B03002_019E',
 'B03002_019M',
 'B03002_020E',
 'B03002_020M',
 'B03002_021E',
 'B03002_021M',
 'GEO_ID',
 'NAME',
 'geometry']

In [21]:
columns_to_keep2= ['B03002_001E',
                   'B03002_002E',
                   'B03002_003E',
                   'B03002_004E',
                   'B03002_005E',
                   'B03002_006E',
                   'B03002_007E',
                   'B03002_008E',
                   'B03002_009E',
                   'B03002_012E',
                   'GEO_ID',
                   'NAME',
                   'geometry']

In [22]:
block2013=b2013[columns_to_keep2]

In [23]:
block2013.head()

,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,B03002_012E,GEO_ID,NAME,geometry
0,Estimate!!Total,Estimate!!Total!!Not Hispanic or Latino,Estimate!!Total!!Not Hispanic or Latino!!White...,Estimate!!Total!!Not Hispanic or Latino!!Black...,Estimate!!Total!!Not Hispanic or Latino!!Ameri...,Estimate!!Total!!Not Hispanic or Latino!!Asian...,Estimate!!Total!!Not Hispanic or Latino!!Nativ...,Estimate!!Total!!Not Hispanic or Latino!!Some ...,Estimate!!Total!!Not Hispanic or Latino!!Two o...,Estimate!!Total!!Hispanic or Latino,id,Geographic Area Name,None
1,3353,3101,2141,165,0,658,0,36,101,252,1500000US060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",None
2,1031,870,727,0,0,100,0,0,43,161,1500000US060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",None
3,913,860,640,40,0,101,0,6,73,53,1500000US060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",None
4,1447,1392,891,128,0,318,0,0,55,55,1500000US060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",None

In [24]:
block2013=block2013.drop([0])

In [25]:
block2013.reset_index()

,index,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,B03002_012E,GEO_ID,NAME,geometry
0,1,3353,3101,2141,165,0,658,0,36,101,252,1500000US060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",None
1,2,1031,870,727,0,0,100,0,0,43,161,1500000US060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",None
2,3,913,860,640,40,0,101,0,6,73,53,1500000US060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",None
3,4,1447,1392,891,128,0,318,0,0,55,55,1500000US060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",None
4,5,938,840,594,74,15,105,0,0,52,98,1500000US060014003002,"Block Group 2, Census Tract 4003, Alameda Coun...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1042,1740,1458,1379,0,0,29,0,0,50,282,1500000US060014517042,"Block Group 2, Census Tract 4517.04, Alameda C...",None
1042,1043,947,675,575,0,15,0,59,0,26,272,1500000US060014517043,"Block Group 3, Census Tract 4517.04, Alameda C...",None
1043,1044,43,43,43,0,0,0,0,0,0,0,1500000US060019819001,"Block Group 1, Census Tract 9819, Alameda Coun...",None
1044,1045,105,55,44,0,0,11,0,0,0,50,1500000US060019820001,"Block Group 1, Census Tract 9820, Alameda Coun...",None
1045,1046,416,387,197,69,0,78,7,0,36,29,1500000US060019832001,"Block Group 1, Census Tract 9832, Alameda Coun...",None

In [26]:
block2013.columns = [
 'Total',
 'Non Hispanic',
 'Non Hispanic White',
 'Non Hispanic Black',
 'Non Hispanic American Indian and Alaska Native',
 'Non Hispanic Asian',
 'Non Hispanic Native Hawaiian and Other Pacific Islander',
 'Non Hispanic Some other race',
 'Non Hispanic Two or more races',
 'Hispanic',
 'GEOID',
 'NAME',
 'geometry']

In [27]:
block2013.head()

,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,GEOID,NAME,geometry
1,3353,3101,2141,165,0,658,0,36,101,252,1500000US060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",None
2,1031,870,727,0,0,100,0,0,43,161,1500000US060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",None
3,913,860,640,40,0,101,0,6,73,53,1500000US060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",None
4,1447,1392,891,128,0,318,0,0,55,55,1500000US060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",None
5,938,840,594,74,15,105,0,0,52,98,1500000US060014003002,"Block Group 2, Census Tract 4003, Alameda Coun...",None

In [28]:
block2013['GEOID'] = block2013['GEOID'].str.replace('1500000US','')
block2013.head()

,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,GEOID,NAME,geometry
1,3353,3101,2141,165,0,658,0,36,101,252,060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",None
2,1031,870,727,0,0,100,0,0,43,161,060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",None
3,913,860,640,40,0,101,0,6,73,53,060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",None
4,1447,1392,891,128,0,318,0,0,55,55,060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",None
5,938,840,594,74,15,105,0,0,52,98,060014003002,"Block Group 2, Census Tract 4003, Alameda Coun...",None

In [29]:
block2013=block2013[[
 'Total',
 'Non Hispanic',
 'Non Hispanic White',
 'Non Hispanic Black',
 'Non Hispanic American Indian and Alaska Native',
 'Non Hispanic Asian',
 'Non Hispanic Native Hawaiian and Other Pacific Islander',
 'Non Hispanic Some other race',
 'Non Hispanic Two or more races',
 'Hispanic',
 'GEOID',
 'NAME']]

In [30]:
block2013.head()

,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,GEOID,NAME
1,3353,3101,2141,165,0,658,0,36,101,252,060014001001,"Block Group 1, Census Tract 4001, Alameda Coun..."
2,1031,870,727,0,0,100,0,0,43,161,060014002001,"Block Group 1, Census Tract 4002, Alameda Coun..."
3,913,860,640,40,0,101,0,6,73,53,060014002002,"Block Group 2, Census Tract 4002, Alameda Coun..."
4,1447,1392,891,128,0,318,0,0,55,55,060014003001,"Block Group 1, Census Tract 4003, Alameda Coun..."
5,938,840,594,74,15,105,0,0,52,98,060014003002,"Block Group 2, Census Tract 4003, Alameda Coun..."

In [31]:
blockshape = gpd.read_file("2013_block/tl_2013_06_bg.shp")

In [32]:
blockshape.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,025,940000,3,060259400003,Block Group 3,G5030,S,12266442,680335,+32.7424027,-114.6675664,"POLYGON ((-114.72653 32.71824, -114.72639 32.7..."
1,06,025,010800,2,060250108002,Block Group 2,G5030,S,59331705,0,+32.7658550,-115.3923893,"POLYGON ((-115.43082 32.73090, -115.43082 32.7..."
2,06,025,010800,1,060250108001,Block Group 1,G5030,S,230656790,0,+32.8363463,-115.3514134,"POLYGON ((-115.45784 32.90895, -115.45773 32.9..."
3,06,025,011100,3,060250111003,Block Group 3,G5030,S,1209336,0,+32.7932442,-115.6903925,"POLYGON ((-115.70134 32.79085, -115.70091 32.7..."
4,06,073,010013,2,060730100132,Block Group 2,G5030,S,404606,0,+32.5564082,-117.0507980,"POLYGON ((-117.05430 32.55542, -117.05430 32.5..."

In [33]:
blockshape.tail()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
23207,06,113,010602,2,061130106022,Block Group 2,G5030,S,349540,0,+38.5483345,-121.7365530,"POLYGON ((-121.73996 38.55141, -121.73974 38.5..."
23208,06,113,010602,3,061130106023,Block Group 3,G5030,S,598201,0,+38.5494135,-121.7306048,"POLYGON ((-121.73524 38.54438, -121.73508 38.5..."
23209,06,113,011400,1,061130114001,Block Group 1,G5030,S,243685259,0,+38.7914978,-121.9434365,"POLYGON ((-122.06145 38.91349, -122.06132 38.9..."
23210,06,113,011400,2,061130114002,Block Group 2,G5030,S,219220061,2549594,+38.8550515,-121.8698636,"POLYGON ((-122.00041 38.92554, -122.00005 38.9..."
23211,06,113,010501,2,061130105012,Block Group 2,G5030,S,2304988,0,+38.5341538,-121.7566773,"POLYGON ((-121.76870 38.53172, -121.76870 38.5..."

In [34]:
blockshape=blockshape[['GEOID', 'geometry']]

In [35]:
block2013v = blockshape.merge(block2013, on='GEOID')

In [36]:
block2013v.head()

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,NAME
0,060014403351,"POLYGON ((-122.01845 37.59582, -122.01841 37.5...",2773,2595,361,51,19,2022,11,0,131,178,"Block Group 1, Census Tract 4403.35, Alameda C..."
1,060014423012,"POLYGON ((-121.96678 37.53030, -121.96678 37.5...",1371,990,339,21,0,594,0,0,36,381,"Block Group 2, Census Tract 4423.01, Alameda C..."
2,060014060001,"POLYGON ((-122.26735 37.78872, -122.26445 37.7...",753,480,143,45,9,253,0,0,30,273,"Block Group 1, Census Tract 4060, Alameda Coun..."
3,060014337001,"POLYGON ((-122.11467 37.68870, -122.11462 37.6...",931,376,241,93,10,6,0,0,26,555,"Block Group 1, Census Tract 4337, Alameda Coun..."
4,060014364012,"POLYGON ((-122.07302 37.67305, -122.07265 37.6...",2296,1800,878,363,0,499,0,0,60,496,"Block Group 2, Census Tract 4364.01, Alameda C..."

In [37]:
block2013v.shape

(1046, 13)

In [38]:
block2013.shape

(1046, 12)

In [39]:

# for basemaps
import contextily as ctx

# For spatial statistics
import esda
from esda.moran import Moran, Moran_Local

import splot
from splot.esda import moran_scatterplot, plot_moran, lisa_cluster,plot_moran_simulation

import libpysal as lps

# Graphics
import matplotlib.pyplot as plt
import plotly.express as px

In [40]:
block2013v.sort_values(by='Total').head(20)

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,NAME
851,060014511014,"POLYGON ((-121.71878 37.67985, -121.71874 37.6...",0,0,0,0,0,0,0,0,0,0,"Block Group 4, Census Tract 4511.01, Alameda C..."
128,060014100003,"POLYGON ((-122.15170 37.75191, -122.15168 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 3, Census Tract 4100, Alameda Coun..."
34,060014090004,"POLYGON ((-122.25550 37.72177, -122.25153 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 4, Census Tract 4090, Alameda Coun..."
1032,060014090002,"POLYGON ((-122.22655 37.74684, -122.22651 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 2, Census Tract 4090, Alameda Coun..."
78,060014065002,"POLYGON ((-122.21625 37.78833, -122.21597 37.7...",1000,789,55,229,0,461,0,0,44,211,"Block Group 2, Census Tract 4065, Alameda Coun..."
488,060014272003,"POLYGON ((-122.25530 37.77274, -122.25521 37.7...",1000,864,247,13,0,537,67,0,0,136,"Block Group 3, Census Tract 4272, Alameda Coun..."
594,060014088002,"POLYGON ((-122.20251 37.75608, -122.20217 37.7...",1000,702,0,617,15,25,0,0,45,298,"Block Group 2, Census Tract 4088, Alameda Coun..."
341,060014077002,"POLYGON ((-122.19932 37.77564, -122.19792 37.7...",1002,877,264,575,0,11,0,0,27,125,"Block Group 2, Census Tract 4077, Alameda Coun..."
682,060014431022,"POLYGON ((-121.92834 37.50680, -121.92833 37.5...",1003,890,192,45,0,608,0,0,45,113,"Block Group 2, Census Tract 4431.02, Alameda C..."
582,060014055003,"POLYGON ((-122.24665 37.79828, -122.24660 37.7...",1003,798,213,57,0,491,0,0,37,205,"Block Group 3, Census Tract 4055, Alameda Coun..."
945,060014331042,"POLYGON ((-122.14864 37.71970, -122.14792 37.7...",1004,881,141,254,10,425,0,0,51,123,"Block Group 2, Census Tract 4331.04, Alameda C..."
87,060014202003,"POLYGON ((-122.30059 37.89504, -122.30046 37.8...",1004,897,439,36,0,297,88,0,37,107,"Block Group 3, Census Tract 4202, Alameda Coun..."
256,060014358003,"POLYGON ((-122.13700 37.67962, -122.13688 37.6...",1008,466,267,0,0,199,0,0,0,542,"Block Group 3, Census Tract 4358, Alameda Coun..."
591,060014058002,"POLYGON ((-122.23530 37.79237, -122.23488 37.7...",1012,891,105,214,21,531,0,0,20,121,"Block Group 2, Census Tract 4058, Alameda Coun..."
749,060014516022,"POLYGON ((-121.78018 37.67404, -121.78015 37.6...",1013,947,870,0,0,61,0,0,16,66,"Block Group 2, Census Tract 4516.02, Alameda C..."
90,060014284002,"POLYGON ((-122.24990 37.76184, -122.24954 37.7...",1014,951,527,27,8,377,0,0,12,63,"Block Group 2, Census Tract 4284, Alameda Coun..."
246,060014047002,"POLYGON ((-122.21036 37.81539, -122.21033 37.8...",1015,1000,753,95,0,96,0,0,56,15,"Block Group 2, Census Tract 4047, Alameda Coun..."
271,060014416024,"POLYGON ((-122.02761 37.55669, -122.02752 37.5...",1016,813,345,47,0,270,41,0,110,203,"Block Group 4, Census Tract 4416.02, Alameda C..."
51,060014382013,"POLYGON ((-122.07754 37.63096, -122.07753 37.6...",1017,239,39,25,0,128,0,0,47,778,"Block Group 3, Census Tract 4382.01, Alameda C..."
577,060014512022,"POLYGON ((-121.73254 37.72214, -121.73254 37.7...",1017,836,726,13,0,85,0,0,12,181,"Block Group 2, Census Tract 4512.02, Alameda C..."

In [41]:
block2013v.head()

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,NAME
0,060014403351,"POLYGON ((-122.01845 37.59582, -122.01841 37.5...",2773,2595,361,51,19,2022,11,0,131,178,"Block Group 1, Census Tract 4403.35, Alameda C..."
1,060014423012,"POLYGON ((-121.96678 37.53030, -121.96678 37.5...",1371,990,339,21,0,594,0,0,36,381,"Block Group 2, Census Tract 4423.01, Alameda C..."
2,060014060001,"POLYGON ((-122.26735 37.78872, -122.26445 37.7...",753,480,143,45,9,253,0,0,30,273,"Block Group 1, Census Tract 4060, Alameda Coun..."
3,060014337001,"POLYGON ((-122.11467 37.68870, -122.11462 37.6...",931,376,241,93,10,6,0,0,26,555,"Block Group 1, Census Tract 4337, Alameda Coun..."
4,060014364012,"POLYGON ((-122.07302 37.67305, -122.07265 37.6...",2296,1800,878,363,0,499,0,0,60,496,"Block Group 2, Census Tract 4364.01, Alameda C..."

In [42]:
block2013v.sort_values(by='Total').head()

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,NAME
851,060014511014,"POLYGON ((-121.71878 37.67985, -121.71874 37.6...",0,0,0,0,0,0,0,0,0,0,"Block Group 4, Census Tract 4511.01, Alameda C..."
128,060014100003,"POLYGON ((-122.15170 37.75191, -122.15168 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 3, Census Tract 4100, Alameda Coun..."
34,060014090004,"POLYGON ((-122.25550 37.72177, -122.25153 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 4, Census Tract 4090, Alameda Coun..."
1032,060014090002,"POLYGON ((-122.22655 37.74684, -122.22651 37.7...",0,0,0,0,0,0,0,0,0,0,"Block Group 2, Census Tract 4090, Alameda Coun..."
78,060014065002,"POLYGON ((-122.21625 37.78833, -122.21597 37.7...",1000,789,55,229,0,461,0,0,44,211,"Block Group 2, Census Tract 4065, Alameda Coun..."

In [43]:
random_tract= block2013v.sample(1)

In [44]:
random_tract

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,Non Hispanic Two or more races,Hispanic,NAME
879,060014283013,"POLYGON ((-122.24889 37.73472, -122.24882 37.7...",626,540,267,0,0,273,0,0,0,86,"Block Group 3, Census Tract 4283.01, Alameda C..."

In [45]:
type(random_tract.iloc[0]['Non Hispanic'])

str

In [46]:
dtypes = ['Total', 
 'Non Hispanic',
 'Non Hispanic White',
 'Non Hispanic Black',
 'Non Hispanic American Indian and Alaska Native',
 'Non Hispanic Asian',
 'Non Hispanic Native Hawaiian and Other Pacific Islander',
 'Non Hispanic Some other race',
 'Non Hispanic Two or more races',
 'Hispanic']

In [47]:
for i in dtypes:
    block2013v[i]=block2013v[i].astype(float)

In [48]:
random_tract2 = block2013v.sample(1)

In [49]:
type(random_tract2.iloc[0]['Non Hispanic'])

numpy.float64

In [50]:
random_block=block2019.sample(1)

In [51]:
type(random_block.iloc[0]['Non Hispanic'])

numpy.float64

In [52]:
block2019.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 13 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   GEOID                                                    1047 non-null   object
 1   NAME                                                     1047 non-null   object
 2   Total                                                    1047 non-null   float64
 3   Non Hispanic                                             1047 non-null   float64
 4   Non Hispanic White                                       1047 non-null   float64
 5   Non Hispanic Black                                       1047 non-null   float64
 6   Non Hispanic American Indian and Alaska Native           1047 non-null   float64
 7   Non Hispanic Asian                                       1047 non-null   float64
 8   Non Hispanic Native Hawaiian and Other Pacific Islander  1047 non-null   float64
 9   Non Hispanic Some other race                             1047 non-null   float64
 10  Non Hispanic Two or more races                           1047 non-null   float64
 11  Hispanic                                                 1047 non-null   float64
 12  geometry                                                 1047 non-null   geometry
dtypes: float64(10), geometry(1), object(2)
memory usage: 106.5+ KB

In [53]:
block2013v.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1046 entries, 0 to 1045
Data columns (total 13 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   GEOID                                                    1046 non-null   object
 1   geometry                                                 1046 non-null   geometry
 2   Total                                                    1046 non-null   float64
 3   Non Hispanic                                             1046 non-null   float64
 4   Non Hispanic White                                       1046 non-null   float64
 5   Non Hispanic Black                                       1046 non-null   float64
 6   Non Hispanic American Indian and Alaska Native           1046 non-null   float64
 7   Non Hispanic Asian                                       1046 non-null   float64
 8   Non Hispanic Native Hawaiian and Other Pacific Islander  1046 non-null   float64
 9   Non Hispanic Some other race                             1046 non-null   float64
 10  Non Hispanic Two or more races                           1046 non-null   float64
 11  Hispanic                                                 1046 non-null   float64
 12  NAME                                                     1046 non-null   object
dtypes: float64(10), geometry(1), object(2)
memory usage: 114.4+ KB

In [54]:
def createpercentage(block):
    for x in dtypes:
        block[("Percent " + x)] = block[x]/block['Total']*100
        print(x, "Completed")

In [55]:
createpercentage(block2019)

Total Completed
Non Hispanic Completed
Non Hispanic White Completed
Non Hispanic Black Completed
Non Hispanic American Indian and Alaska Native Completed
Non Hispanic Asian Completed
Non Hispanic Native Hawaiian and Other Pacific Islander Completed
Non Hispanic Some other race Completed
Non Hispanic Two or more races Completed
Hispanic Completed

/opt/conda/lib/python3.9/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [56]:
createpercentage(block2013v)

Total Completed
Non Hispanic Completed
Non Hispanic White Completed
Non Hispanic Black Completed
Non Hispanic American Indian and Alaska Native Completed
Non Hispanic Asian Completed
Non Hispanic Native Hawaiian and Other Pacific Islander Completed
Non Hispanic Some other race Completed
Non Hispanic Two or more races Completed
Hispanic Completed

In [57]:
block2019.head()

,GEOID,NAME,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,...,Percent Total,Percent Non Hispanic,Percent Non Hispanic White,Percent Non Hispanic Black,Percent Non Hispanic American Indian and Alaska Native,Percent Non Hispanic Asian,Percent Non Hispanic Native Hawaiian and Other Pacific Islander,Percent Non Hispanic Some other race,Percent Non Hispanic Two or more races,Percent Hispanic
0,060014001001,"Block Group 1, Alameda, CA",3120.0,3002.0,2317.0,107.0,0.0,391.0,0.0,0.0,...,100.0,96.217949,74.262821,3.429487,0.00000,12.532051,0.0,0.0,5.993590,3.782051
1,060014002001,"Block Group 1, Alameda, CA",990.0,894.0,761.0,13.0,4.0,41.0,0.0,0.0,...,100.0,90.303030,76.868687,1.313131,0.40404,4.141414,0.0,0.0,7.575758,9.696970
2,060014002002,"Block Group 2, Alameda, CA",1017.0,939.0,714.0,39.0,0.0,130.0,0.0,0.0,...,100.0,92.330383,70.206490,3.834808,0.00000,12.782694,0.0,0.0,5.506391,7.669617
3,060014003001,"Block Group 1, Alameda, CA",1134.0,1059.0,735.0,0.0,0.0,274.0,0.0,0.0,...,100.0,93.386243,64.814815,0.000000,0.00000,24.162257,0.0,0.0,4.409171,6.613757
4,060014003002,"Block Group 2, Alameda, CA",1237.0,1139.0,1008.0,18.0,0.0,113.0,0.0,0.0,...,100.0,92.077607,81.487470,1.455133,0.00000,9.135004,0.0,0.0,0.000000,7.922393

In [58]:
block2013v.head()

,GEOID,geometry,Total,Non Hispanic,Non Hispanic White,Non Hispanic Black,Non Hispanic American Indian and Alaska Native,Non Hispanic Asian,Non Hispanic Native Hawaiian and Other Pacific Islander,Non Hispanic Some other race,...,Percent Total,Percent Non Hispanic,Percent Non Hispanic White,Percent Non Hispanic Black,Percent Non Hispanic American Indian and Alaska Native,Percent Non Hispanic Asian,Percent Non Hispanic Native Hawaiian and Other Pacific Islander,Percent Non Hispanic Some other race,Percent Non Hispanic Two or more races,Percent Hispanic
0,060014403351,"POLYGON ((-122.01845 37.59582, -122.01841 37.5...",2773.0,2595.0,361.0,51.0,19.0,2022.0,11.0,0.0,...,100.0,93.580959,13.018392,1.839163,0.685179,72.917418,0.396682,0.0,4.724125,6.419041
1,060014423012,"POLYGON ((-121.96678 37.53030, -121.96678 37.5...",1371.0,990.0,339.0,21.0,0.0,594.0,0.0,0.0,...,100.0,72.210066,24.726477,1.531729,0.000000,43.326039,0.000000,0.0,2.625821,27.789934
2,060014060001,"POLYGON ((-122.26735 37.78872, -122.26445 37.7...",753.0,480.0,143.0,45.0,9.0,253.0,0.0,0.0,...,100.0,63.745020,18.990704,5.976096,1.195219,33.598938,0.000000,0.0,3.984064,36.254980
3,060014337001,"POLYGON ((-122.11467 37.68870, -122.11462 37.6...",931.0,376.0,241.0,93.0,10.0,6.0,0.0,0.0,...,100.0,40.386681,25.886144,9.989259,1.074114,0.644468,0.000000,0.0,2.792696,59.613319
4,060014364012,"POLYGON ((-122.07302 37.67305, -122.07265 37.6...",2296.0,1800.0,878.0,363.0,0.0,499.0,0.0,0.0,...,100.0,78.397213,38.240418,15.810105,0.000000,21.733449,0.000000,0.0,2.613240,21.602787

In [ ]:
col2019=list(block2019)

In [ ]:
col2019

In [ ]:
col2013=list(block2013v)

In [ ]:
col2013

In [ ]:
def add_year (block, year):
    for i in block:
        if "Hispanic" in i:
            i=i + "_" + year
            print("\'" + i + "\',")
        elif "Total" in i:
            i=i + "_" + year
            print("\'" + i + "\',")
        else:
            print("\'" + i + "\',")

In [ ]:
add_year(col2019, "19")

In [ ]:
add_year(col2013, "13")

In [ ]:
c19=['GEOID',
'NAME',
'Total_19',
'Non Hispanic_19',
'Non Hispanic White_19',
'Non Hispanic Black_19',
'Non Hispanic American Indian and Alaska Native_19',
'Non Hispanic Asian_19',
'Non Hispanic Native Hawaiian and Other Pacific Islander_19',
'Non Hispanic Some other race_19',
'Non Hispanic Two or more races_19',
'Hispanic_19',
'geometry',
'Percent Total_19',
'Percent Non Hispanic_19',
'Percent Non Hispanic White_19',
'Percent Non Hispanic Black_19',
'Percent Non Hispanic American Indian and Alaska Native_19',
'Percent Non Hispanic Asian_19',
'Percent Non Hispanic Native Hawaiian and Other Pacific Islander_19',
'Percent Non Hispanic Some other race_19',
'Percent Non Hispanic Two or more races_19',
'Percent Hispanic_19',
[175]:

add_year(col2013, "13")
'GEOID'
'geometry'
'Total_13'
'Non Hispanic_13'
'Non Hispanic White_13'
'Non Hispanic Black_13'
'Non Hispanic American Indian and Alaska Native_13'
'Non Hispanic Asian_13'
'Non Hispanic Native Hawaiian and Other Pacific Islander_13'
'Non Hispanic Some other race_13'
'Non Hispanic Two or more races_13'
'Hispanic_13'
'NAME'
'Percent Total_13'
'Percent Non Hispanic_13'
'Percent Non Hispanic White_13'
'Percent Non Hispanic Black_13'
'Percent Non Hispanic American Indian and Alaska Native_13'
'Percent Non Hispanic Asian_13'
'Percent Non Hispanic Native Hawaiian and Other Pacific Islander_13'
'Percent Non Hispanic Some other race_13'
'Percent Non Hispanic Two or more races_13'
'Percent Hispanic_13']

In [ ]:
block2019.columsn=c19

In [ ]:
def renamecols(block, col):
    block.columns=col
    block.head()

In [ ]:
renamecols(block2019, col2019)

In [ ]:
block2019.head()