# Prearing Datasets for plotting

In [7]:
import pandas as pd

# for spatial data
import geopandas as gpd

# for plotting
import matplotlib.pyplot as plt
# for basemaps
import contextily as ctx

import folium
from folium.plugins import MarkerCluster
import pandas as pd

import plotly.express as px

In [4]:
ethindex=gpd.read_file("ethnicityindex.geojson")
stations=gpd.read_file("stations.geojson")
stationarea=gpd.read_file("stationarea.geojson")

In [5]:
tod=stations[stations['TOD']=='Yes']
ntod=stations[stations['TOD']=='No']

In [6]:
ethindex.columns.to_list()

['GEOID_left',
 'NAME_left',
 'Total_2019',
 'Non Hispanic_2019',
 'Non Hispanic White_2019',
 'Non Hispanic Black_2019',
 'Non Hispanic American Indian and Alaska Native_2019',
 'Non Hispanic Asian_2019',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2019',
 'Non Hispanic Some other race_2019',
 'Non Hispanic Two or more races_2019',
 'Hispanic_2019',
 'Percent Total_2019',
 'Percent Non Hispanic_2019',
 'Percent Non Hispanic White_2019',
 'Percent Non Hispanic Black_2019',
 'Percent Non Hispanic American Indian and Alaska Native_2019',
 'Percent Non Hispanic Asian_2019',
 'Percent Non Hispanic Native Hawaiian and Other Pacific Islander_2019',
 'Percent Non Hispanic Some other race_2019',
 'Percent Non Hispanic Two or more races_2019',
 'Percent Hispanic_2019',
 'index_right',
 'GEOID_right',
 'Total_2013',
 'Non Hispanic_2013',
 'Non Hispanic White_2013',
 'Non Hispanic Black_2013',
 'Non Hispanic American Indian and Alaska Native_2013',
 'Non Hispanic Asian_2013',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2013',
 'Non Hispanic Some other race_2013',
 'Non Hispanic Two or more races_2013',
 'Hispanic_2013',
 'NAME_right',
 'Percent Total_2013',
 'Percent Non Hispanic_2013',
 'Percent Non Hispanic White_2013',
 'Percent Non Hispanic Black_2013',
 'Percent Non Hispanic American Indian and Alaska Native_2013',
 'Percent Non Hispanic Asian_2013',
 'Percent Non Hispanic Native Hawaiian and Other Pacific Islander_2013',
 'Percent Non Hispanic Some other race_2013',
 'Percent Non Hispanic Two or more races_2013',
 'Percent Hispanic_2013',
 'Total_change',
 'Non Hispanic_change',
 'Non Hispanic White_change',
 'Non Hispanic Black_change',
 'Non Hispanic American Indian and Alaska Native_change',
 'Non Hispanic Asian_change',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_change',
 'Non Hispanic Some other race_change',
 'Non Hispanic Two or more races_change',
 'Hispanic_change',
 'perc_2019_sq',
 'iqv_2019_sq',
 'perc_2013_sq',
 'iqv_2013_sq',
 'geometry']

In [3]:
ethindex_wm=ethindex.to_crs(epsg=3857)
stations_wm=stations.to_crs(epsg=3857)

In [8]:
stations

,Station,City,Code,TOD,County,Marker,geometry
0,ASHBY,Berkeley,BKY,Yes,ALA,D,POINT (-122.27012 37.85321)
1,MACARTHUR,Oakland,OAK,Yes,ALA,D,POINT (-122.26712 37.82871)
2,HAYWARD,Hayward,HAY,Yes,ALA,D,POINT (-122.08720 37.67012)
3,SOUTH HAYWARD,Hayward,HAY,Yes,ALA,D,POINT (-122.05704 37.63448)
4,FRUITVALE,Oakland,OAK,Yes,ALA,D,POINT (-122.22420 37.77456)
5,NORTH BERKELEY,Berkeley,BKY,No,ALA,o,POINT (-122.28335 37.87406)
6,19TH STREET/OAKLAND,Oakland,OAK,No,ALA,o,POINT (-122.26839 37.80808)
7,BAY FAIR,San Leandro,SAN,No,ALA,o,POINT (-122.12706 37.69757)
8,UNION CITY,Union City,UNC,No,ALA,o,POINT (-122.01715 37.59087)
9,LAKE MERRITT,Oakland,OAK,No,ALA,o,POINT (-122.26554 37.79768)

In [ ]:

brt.plot(ax=ax,
         color = 'yellow',
         marker = "x",
         markersize = 25,
        label = brt.Station)

In [ ]:
fig, ax = plt.subplots(figsize=(12,12))

# block groups
ethindex_wm.plot(ax=ax, # this puts it in the ax plot
        color='gray', 
        edgecolor='white',
        alpha=0.5)

tod.plot(ax=ax,
         color = 'black',
         marker = "D",
         markersize = 15,
        label = 'Station')

ax.axis('off')
ax.set_title('Change in Block Groups who spend >30% of their income on rent',fontsize=15,pad=18)

# add a basemap
ctx.add_basemap(ax,source=ctx.providers.CartoDB.Positron, zoom=10)

NameError: name 'tod' is not defined