# demographic detail for each station area

In [1]:
import pandas as pd

# for spatial data
import geopandas as gpd

# for plotting
import matplotlib.pyplot as plt
# for basemaps
import contextily as ctx

import folium
from folium.plugins import MarkerCluster
import pandas as pd

import plotly.express as px

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
stationarea=gpd.read_file("stationarea.geojson")
station=gpd.read_file("stations.geojson")
ethdf=gpd.read_file(
index=gpd.read_file("iqv_average.csv")
stationarea['lon']=station.geometry.x
stationarea['lat']=station.geometry.y
tod=stationarea[stationarea['TOD']=='Yes']
ntod=stationarea[stationarea['TOD']=='No']
station=gpd.read_file('stations.geojson')
tod2=station[stationarea['TOD']=='Yes']
ntod2=station[stationarea['TOD']=='No']

In [3]:
ethdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 7433 entries, 0 to 7432
Data columns (total 60 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   GEOID_left                                                            7433 non-null   object
 1   NAME_left                                                             7433 non-null   object
 2   Total_2019                                                            7433 non-null   float64
 3   Non Hispanic_2019                                                     7433 non-null   float64
 4   Non Hispanic White_2019                                               7433 non-null   float64
 5   Non Hispanic Black_2019                                               7433 non-null   float64
 6   Non Hispanic American Indian and Alaska Native_2019                   7433 non-null   float64
 7   Non Hispanic Asian_2019                                               7433 non-null   float64
 8   Non Hispanic Native Hawaiian and Other Pacific Islander_2019          7433 non-null   float64
 9   Non Hispanic Some other race_2019                                     7433 non-null   float64
 10  Non Hispanic Two or more races_2019                                   7433 non-null   float64
 11  Hispanic_2019                                                         7433 non-null   float64
 12  Percent Total_2019                                                    7389 non-null   float64
 13  Percent Non Hispanic_2019                                             7389 non-null   float64
 14  Percent Non Hispanic White_2019                                       7389 non-null   float64
 15  Percent Non Hispanic Black_2019                                       7389 non-null   float64
 16  Percent Non Hispanic American Indian and Alaska Native_2019           7389 non-null   float64
 17  Percent Non Hispanic Asian_2019                                       7389 non-null   float64
 18  Percent Non Hispanic Native Hawaiian and Other Pacific Islander_2019  7389 non-null   float64
 19  Percent Non Hispanic Some other race_2019                             7389 non-null   float64
 20  Percent Non Hispanic Two or more races_2019                           7389 non-null   float64
 21  Percent Hispanic_2019                                                 7389 non-null   float64
 22  index_right                                                           7433 non-null   int64
 23  GEOID_right                                                           7433 non-null   object
 24  Total_2013                                                            7433 non-null   float64
 25  Non Hispanic_2013                                                     7433 non-null   float64
 26  Non Hispanic White_2013                                               7433 non-null   float64
 27  Non Hispanic Black_2013                                               7433 non-null   float64
 28  Non Hispanic American Indian and Alaska Native_2013                   7433 non-null   float64
 29  Non Hispanic Asian_2013                                               7433 non-null   float64
 30  Non Hispanic Native Hawaiian and Other Pacific Islander_2013          7433 non-null   float64
 31  Non Hispanic Some other race_2013                                     7433 non-null   float64
 32  Non Hispanic Two or more races_2013                                   7433 non-null   float64
 33  Hispanic_2013                                                         7433 non-null   float64
 34  NAME_right                                                            7433 non-null   object
 35  Percent Total_2013                                                    7405 non-null   float64
 36  Percent Non Hispanic_2013                                             7405 non-null   float64
 37  Percent Non Hispanic White_2013                                       7405 non-null   float64
 38  Percent Non Hispanic Black_2013                                       7405 non-null   float64
 39  Percent Non Hispanic American Indian and Alaska Native_2013           7405 non-null   float64
 40  Percent Non Hispanic Asian_2013                                       7405 non-null   float64
 41  Percent Non Hispanic Native Hawaiian and Other Pacific Islander_2013  7405 non-null   float64
 42  Percent Non Hispanic Some other race_2013                             7405 non-null   float64
 43  Percent Non Hispanic Two or more races_2013                           7405 non-null   float64
 44  Percent Hispanic_2013                                                 7405 non-null   float64
 45  Total_change                                                          7405 non-null   float64
 46  Non Hispanic_change                                                   7405 non-null   float64
 47  Non Hispanic White_change                                             7325 non-null   float64
 48  Non Hispanic Black_change                                             6496 non-null   float64
 49  Non Hispanic American Indian and Alaska Native_change                 1861 non-null   float64
 50  Non Hispanic Asian_change                                             7251 non-null   float64
 51  Non Hispanic Native Hawaiian and Other Pacific Islander_change        1968 non-null   float64
 52  Non Hispanic Some other race_change                                   1148 non-null   float64
 53  Non Hispanic Two or more races_change                                 6359 non-null   float64
 54  Hispanic_change                                                       7300 non-null   float64
 55  perc_2019_sq                                                          7389 non-null   float64
 56  iqv_2019_sq                                                           7389 non-null   float64
 57  perc_2013_sq                                                          7405 non-null   float64
 58  iqv_2013_sq                                                           7405 non-null   float64
 59  geometry                                                              7433 non-null   geometry
dtypes: float64(54), geometry(1), int64(1), object(4)
memory usage: 3.4+ MB

In [4]:
df2=gpd.overlay(tod,ethdf, how='intersection')

In [5]:
df2.to_csv(r'df2.csv')

In [20]:
tod

,Station,City,Code,TOD,County,Marker,buffer_polygon,geometry,lon,lat
0,ASHBY,Berkeley,BKY,Yes,ALA,D,"POLYGON ((563770.9742351742 4188779.586837385,...","POLYGON ((-122.27519 37.84423, -122.27886 37.8...",-122.270119,37.853207
1,MACARTHUR,Oakland,OAK,Yes,ALA,D,"POLYGON ((563693.8852295046 4186061.965723997,...","POLYGON ((-122.27631 37.81974, -122.27785 37.8...",-122.267120,37.828705
2,HAYWARD,Hayward,HAY,Yes,ALA,D,"POLYGON ((580092.9554610827 4168606.360613972,...","POLYGON ((-122.09192 37.66114, -122.09221 37.6...",-122.087204,37.670124
3,SOUTH HAYWARD,Hayward,HAY,Yes,ALA,D,"POLYGON ((582418.4676641112 4164677.51896479, ...","POLYGON ((-122.06600 37.62552, -122.06785 37.6...",-122.057037,37.634483
4,FRUITVALE,Oakland,OAK,Yes,ALA,D,"POLYGON ((567336.267085615 4180096.87365391, 5...","POLYGON ((-122.23548 37.76572, -122.23554 37.7...",-122.224197,37.774559

In [6]:
df3=df2.sample(20)

In [28]:
ASHBY2=df2[df2['Station']=='ASHBY']
MACARTHUR2=df2[df2['Station']=='MACARTHUR']
HAYWARD2=df2[df2['Station']=='HAYWARD']
SOUTHH2=df2[df2['Station']=='SOUTH HAYWARD']
FRUITVALE2=df2[df2['Station']=='FRUITVALE']

In [66]:
df3=df2[['Station',
 'Total_2019',
 'Non Hispanic_2019',
 'Non Hispanic White_2019',
 'Non Hispanic Black_2019',
 'Non Hispanic American Indian and Alaska Native_2019',
 'Non Hispanic Asian_2019',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2019',
 'Non Hispanic Some other race_2019',
 'Non Hispanic Two or more races_2019',
 'Hispanic_2019',
 'Total_2013',
 'Non Hispanic_2013',
 'Non Hispanic White_2013',
 'Non Hispanic Black_2013',
 'Non Hispanic American Indian and Alaska Native_2013',
 'Non Hispanic Asian_2013',
 'Non Hispanic Native Hawaiian and Other Pacific Islander_2013',
 'Non Hispanic Some other race_2013',
 'Non Hispanic Two or more races_2013',
 'Hispanic_2013']]

In [68]:
st=station['Station'].to_list()

In [70]:
cool=[]
for s in st:
    dfy=[]
    for i in df3.iterrows():
        fy=df3[df3['Station']==x].sum(axis=0).to_frame()

AttributeError: 'list' object attribute 'append' is read-only

In [59]:
ashby2

                                                                                                    0
Station                                             ASHBYASHBYASHBYASHBYASHBYASHBYASHBYASHBYASHBYA...
Total_2019                                                                                    75576.0
Non Hispanic_2019                                                                             63310.0
Non Hispanic White_2019                                                                       29012.0
Non Hispanic Black_2019                                                                       19355.0
Non Hispanic American Indian and Alaska Native_...                                              257.0
Non Hispanic Asian_2019                                                                        9620.0
Non Hispanic Native Hawaiian and Other Pacific ...                                                0.0
Non Hispanic Some other race_2019                                                               388.0
Non Hispanic Two or more races_2019                                                            4678.0
Hispanic_2019                                                                                 12266.0
Total_2013                                                                                    65255.0
Non Hispanic_2013                                                                             54325.0
Non Hispanic White_2013                                                                       22418.0
Non Hispanic Black_2013                                                                       22918.0
Non Hispanic American Indian and Alaska Native_...                                              163.0
Non Hispanic Asian_2013                                                                        5927.0
Non Hispanic Native Hawaiian and Other Pacific ...                                              100.0
Non Hispanic Some other race_2013                                                               123.0
Non Hispanic Two or more races_2013                                                            2676.0
Hispanic_2013                                                                                 10930.0